.error{
    font-family: 'Diphylleia', serif;
    text-align: center;
    font-size: 25px;
    margin: 3rem;
    a{/*aqui le estoy dando una animacón a mi página de error*/
        background-color: #00000000;
        display: inline-block;
        text-decoration: none;
        color: #053bff;
        font-size: 30px;
        &:hover{
            animation-name: giro;
            animation-duration: 2s;
            @keyframes giro{
                0%{
                    color: rgb(0, 255, 255);
                }
                25%{
                    color: #009dff;
                    transform: rotate(80deg);
                }
                75%{
                    color: #2b00ff;
                    transform: rotate(290deg);
                }
                100%{
                    color: #ae00ff;
                    transform: rotate(360deg);
                }
            }
        }
    }
    img{
        width: 48%;
    }
}
